
div{
    border: 2px solid black;
}

#container{
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 50px;;
}

#container div{
    width: 2000px;
    height: 100px;
    display: flex;
    margin: 0;
    padding: 0;
}

#firstLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#secondLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#thirdLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#fourthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#fifthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#sixthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#seventhLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#eighthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#ninthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#tenthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#eleventhLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#twelvthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#thirteenthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#fourteenthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#fifteenthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}

#sixteenthLine div{
    width: 100px;
    height: 100%;
    flex: 1 1 auto;
}





#secondLine, #fourthLine, #sixthLine, #eighthLine,
#tenthLine, #twelvthLine, #fourteenthLine, #sixteenthLine{
    background-color: ;
}


#secondLine:hover, #fourthLine:hover{
    background-color: RGB(199,36,177);
} 

#sixthLine:hover, #eighthLine:hover{
    background-color: RGB(77, 77, 255);
}

#tenthLine:hover, #twelvthLine:hover{
    background-color: RGB(210,39,48);
} 

#fourteenthLine:hover, #sixteenthLine:hover{
    background-color: RGB(68,214,44);
}

#firstLine:hover, #thirdLine:hover{
    background-color: 	rgb(235, 4, 80);
} 

#fifthLine:hover, #seventhLine:hover{
    background-color: rgb(245, 71, 195)	;
}

#ninthLine:hover, #eleventhLine:hover{
    background-color: rgb(122, 4, 6);
} 

#thirteenthLine:hover, #fifteenthLine:hover{
    background-color: 	rgb(46, 20, 36);
}

#secondCol, #fourthCol, #sixthCol, #eighthCol,
#tenthCol, #twelvthCol, #fourteenthCol, #sixteenthCol{
    background-color: ;
}

#secondCol:hover, #fourthCol:hover{
    background-color: rgb(40, 191, 139);
} 

#sixthCol:hover, #eighthCol:hover{
    background-color: rgb(164, 172, 100);
}

#tenthCol:hover, #twelvthCol:hover{
    background-color: rgb(68, 76, 44);
}

#fourteenthCol:hover, #sixteenthCol:hover{
    background-color: rgb(36, 200, 220);
}